
  
.popular-img-1{
    background-image: url('../img/Frame 48095747.png');
    width: 128px;
    height: 162px;
    position: relative;
    top: -431px;
    left: 100px;
}

.popular-img-2{
    background-image: url('../img/Frame 48095756.png');
    width: 130px;
    height: 165px;
    position: relative;
    left: 355px;
    top: -587px;

}

.popular-img-3{
    background-image: url('../img/Frame 48095757.png');
    width: 130px;
    height: 165px;
    position: relative;
    left: 607px;
    top: -756px;
}

.popular-img-4{
    background-image: url('../img/Frame 48095758.png');
    width: 128px;
    height: 163px;
    position: relative;
    left: 895px;
    top: -927px;
}

.popular-img-5{
    background-image: url('../img/Frame 48095762.png');
    width: 128px;
    height: 162px;
    position: relative;
    top: -1092px;
    left: 1132px;
}

.popular-img-6{
    background-image: url('../img/Frame 48095759.png');
    width: 130px;
    height: 165px;
    position: relative;
    left: 1377px;
    top: -1255px;
}


.popular-img-7{
    background-image: url('../img/Frame 48095760.png');
    width: 128px;
    height: 163px;
    position: relative;
    left: 1593px;
    top: -1425px;
}

.popular-img-8{
    background-image: url('../img/Frame 48095761.png');
    width: 128px;
    height: 163px;
    position: relative;
    left: 1836px;
    top: -1588px;
}

.cheap-wears{
    position: relative;
}

.chaep-wear-text{
    color: #1D1D1D;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    position: relative;
    line-height: 100%;
    top: -5773px;
    left: 75px;
}

.popul-img-1{
    position: relative;
    background-image: url('../img/Rectangle 157-3.png');
    width: 297px;
    height: 459px;
    position: relative;
    top: -1518px;
    left: 75px;
}

.popul-img-2{
    position: relative;
    background-image: url('../img/Rectangle 157-3.png');
    width: 297px;
    height: 459px;
    position: relative;
    top: -1973px;
    left: 421px;
}

.popul-img-3{
    position: relative;
    background-image: url('../img/Rectangle 157-3.png');
    width: 297px;
    height: 459px;
    position: relative;
    top: -2436px;
    left: 796px;
}

.popul-img-4{
    position: relative;
    background-image: url('../img/Rectangle 157-3.png');
    width: 297px;
    height: 459px;
    position: relative;
    top: -2893px;
    left: 1168px;
}

.popul-img-5{
    position: relative;
    background-image: url('../img/Rectangle 157-3.png');
    width: 297px;
    height: 459px;
    position: relative;
    top: -3352px;
    left: 1535px;
}

.popular-slider{
    position: relative;
    top: -488px;
}

.cheap-slider{
    position: relative;
    top: -1298px;
}

.chaep-img-1{
    position: relative;
    background-image: url('../img/Rectangle 157-3.png');
    width: 297px;
    height: 459px;
    position: relative;
    top: -1518px;
    left: 75px;
}

.chaep-img-2{
    position: relative;
    background-image: url('../img/Rectangle 157-3.png');
    width: 297px;
    height: 459px;
    position: relative;
    top: -1973px;
    left: 421px;
}

.chaep-img-3{
    position: relative;
    background-image: url('../img/Rectangle 157-3.png');
    width: 297px;
    height: 459px;
    position: relative;
    top: -2436px;
    left: 796px;
}

.chaep-img-4{
    position: relative;
    background-image: url('../img/Rectangle 157-3.png');
    width: 297px;
    height: 459px;
    position: relative;
    top: -2893px;
    left: 1168px;
}

.chaep-img-5{
    position: relative;
    background-image: url('../img/Rectangle 157-3.png');
    width: 297px;
    height: 459px;
    position: relative;
    top: -3352px;
    left: 1535px;
}